*{
  box-sizing:border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(cssScreen.png)
}

header {
  background-color: black;
  color:white;
  width:100%;
  padding:15px;
  text-align: center;
  top:0;
  left:0;
  z-index: 1;
}

nav {
  width: 80%;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  background: #fff;
  box-shadow: 0px 5px 0px #dedede;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.fill ul li a {
  position: relative;
}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color:black;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.body{
  display:flex;
  opacity:1;
}

.left_body{
  flex:15%;
  margin-right: 5%;
}

.profile{
  border-radius: 20%;
  background:#ddd;
  width:100%;
  padding:10px;
  margin-bottom: 20px;
}
.profile img{
  width:80%;
  height: 140px;
  border-radius: 100%;
}

.login{
  background:#ddd;
  width:100%;
  padding:10px;
}

.menu{
  background:#ddd;
  width:100%;
  margin-top: 20px;
}
#search_text {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}
#menu_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#menu_ul li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

.left_body li a:hover {
  background-color: #eee;
}
.right_body{
  flex:80%;
  margin-right: 5%;
  background-color: #ddd;
  padding-left: 20px;
}

footer {
  background-color: #F1F1F1;
  text-align: center;
  padding:1px;
  margin-top: 20px;
}